<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Transaksi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Detail Transaksi</h1>
    <p id="transaction_detail"></p>

    <button onclick="window.location.href='/'">Kembali ke Beranda</button>

    <script src="{{ url_for('static', filename='js/transaksi.js') }}"></script>
</body>
</html>
